@tailwind base;
@tailwind components;
@tailwind utilities;
.cta-buttons {
  margin-top: 20px;
}

.cta-button {
  display: inline-block;
  text-decoration: none;
  background-color: #36a2b7;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px;
  font-weight: bold;
  transition: background-color 0.3s;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  text-align: center;
  text-transform: uppercase;
}

.cta-button:hover {
  background-color: #0078d4;
}