@tailwind base;
@tailwind components;
@tailwind utilities;
.cta-buttons {
  display: flex;
}

.cta-button {
  text-decoration: none;
  background-color: #36a2b7;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px;
  font-weight: bold;
  transition: background-color 0.3s;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.cta-button:hover {
  background-color: #0078d4;
}
/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
